# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django stuff
db.sqlite3
media/
staticfiles/
*.log

# Ignore IDE files
.vscode/
.idea/
*.swp

# Docker files
*.env
.env
.env.*


# Python dependencies
*.egg-info/
pip-log.txt

# Compiled C files
*.so

# Ignore secrets and settings
settings_local.py
config.yaml

# Ignore node_modules (if using frontend)
node_modules/

# Ignore coverage reports
.coverage
htmlcov/
